.page {
    width: 50%;
    display: inline-block;
    float: left;
}


a {
 color: #555;   
}

.title a {
    text-decoration: none;
    color: white;
}

.emoji {
    font-family: apple color emoji,segoe ui emoji,noto color emoji,android emoji,emojisymbols,emojione mozilla,twemoji mozilla,segoe ui symbol;
}

.page h1, p{
    margin-left: 40px;
    margin-right: 40px;
}

.page p {
    font-size: 22px;
}

.code {
    width:50%;
    display:inline-block;
}

.header {
    background-color: #f74c00;
    height: 40px;
    padding: 4px;
    line-height: 40px;
    font-size: 28px;
    font-weight: bold;
    color: white;
    padding-left: 10px;
}

html, body {
    padding:0px;
    margin: 0px;
    font-family: 'Fira Sans', sans-serif;
    color: #333;
}

.next a, .back a{
    color: white;
}

.nav {
    float:right;
    padding-right: 10px;
}

.code iframe, .page {
    height: calc(100% - 48px);
    height: -webkit-cal(100% - 48px);
}

.page {
    overflow-y: auto;
}


highlight {
    display: inline;
    background: #444;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 3px;
    
    margin-left: 3px;
}

li {
    padding-top: 3px;
    padding-bottom: 3px;
}

.nav span {
    padding-left: 10px;
}

.toc a{
    color: white;
} 

@media screen and (max-width: 600px) {
    .code, .page {
        width: 100%;
        display: block;
        height: auto;
        padding-bottom: 40px;
    }

    .code {
        margin-bottom: 40px;
    }

    .code iframe{
        height: 100%;
    }

    .header {
        font-size: 12px;
    }

    .title {
        font-size: 18px;
    }
}

b, h1 {
    color: black;
}

ul {
    margin-left: 40px;
}